body {
    font-family: 'Poppins', sans-serif !important;
}

main::after {
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: 1;
}

.info {
    margin-top: -10%;
}

.info .logo {
    /* max-width: 350px; */
    filter: invert(1);
    margin-bottom: 80px;
}

.info .description {
    font-size: 1.8vw;
    line-height: 30px;
}

@media (max-width: 768px) {
    .info .description {
        font-size: 20px;
    }
}

.carousel-indicators {
    top: 85%;
}

/* MUDAR FORMATO DOS BOTÕES DO BOOTSTRAP */
.carousel-indicators button {
    background-color: #ffffff;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    border: 2px transparent !important;
    cursor: pointer !important;
    border-color: #ffffff !important;
    opacity: 1 !important;
}

.carousel-indicators button.active {
    background-color: #1d8346;
}

.menu-lateral .icone {
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}

.menu-lateral .icone:hover {
    transform: scale(1.2);
}